<% if (site.posts.length){ %>
<div class="widget">
	<h4><%= __('recent_comments') %></h4>
	<ul class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="0" data-show-admin="1" data-excerpt-length="70" ></ul>
</div>
<% } %>