.hero_container{
  border: 1px solid gray;
  border-radius: 6px;
  padding-top: 10px;
}
.hero_avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.hero_links a{
  padding-right: 10px;
}
.text-center{
  margin-top: 10px;
}
