<% if (theme.bdshare){ %>
	<footer class="entry-meta">           
	<!-- JiaThis Button BEGIN -->
	  <div class="jiathis_style" style="float:right;">
		<span class="jiathis_txt">分享到：</span>
		<a class="jiathis_button_qzone">QQ空间</a>
		<a class="jiathis_button_tsina">新浪微博</a>
		<a class="jiathis_button_weixin">微信</a>
	
	  </div>

	<!-- JiaThis Button END -->
	</footer>
<% } %>
